/* footer.module.css */

/* Styles for the parent container */
.footer_parent {
    position: absolute;
    width: 100vw;
    margin: 0 auto;
    background: linear-gradient(30deg, #020004, #040009, #342f3a);
    background-image: url("https://c4.wallpaperflare.com/wallpaper/914/746/419/abstract-digital-art-minimalism-simple-background-wallpaper-preview.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
  }
  

/* Styles for the first wrapper */
.first_section {
    width: 85%;
    color: #fff;
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sections_links {
    gap: 4px;
}
.image1{
border-radius: 50%;    
border-width: 1px;
border-color: rgb(255, 255, 255);
margin-right: 0.4vw;
margin-left: 0.4vw;
    transition: 0.4s;

}
.image1:hover{
    border-radius: 50%;    
    border-width: 1px;
    border-color: rgb(255, 255, 255);

    box-shadow: 0px 0px 18px #00bebe;
    transform: scale(1.02);
    transition: 0.4s;

    
    }

.pages_section_bottom h1,
.links_section_bottom h1,
.sevices_section_bottom h1 {
    font-size: 16px;
}

.pages_section_bottom p,
.links_section_bottom p,
.sevices_section_bottom p {
    font-size: 12px;
}

.avatar {
    border-radius: 50%;
    border-width: 1px;
    width: 70px;
    height: 70px;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    transition: 0.4s;
}

.avatar:hover {
    box-shadow: 0px 0px 18px #be0900;
    transform: scale(1.01);
    transition: 0.4s;

}

.avatar_and_contact {
    display: flex;
    flex-direction: column;
}


.seperator_line {
    height: 2px;
    width: 100vw;
    background-color: white;
}

.second_section {
    width: 100%;
    color: #fff;
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.img_wrapper {

    display: flex;
    flex-direction: row;

}