@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {

    --actionable-item: #18a0fb;

    
    --hero-h-1: 400 56px/80px "Montserrat", sans-serif;
    --sub-page-h-1: 400 48px/72px "Montserrat", sans-serif;
    --body-h-4: 700 24px/36px "Montserrat", sans-serif;
    --body-p: 400 18px/30px "Montserrat", sans-serif;
    --body-p-small: 400 14px/22px "Montserrat", sans-serif;
    --body-text-cta-btn: 700 18px/30px "Montserrat", sans-serif;
    --body-p-large: 400 36px/50px "Montserrat", sans-serif;
  
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Figma Styles of your File */
:root {
  /* Colors */
  --actionable-item: #18a0fb;

  /* Fonts */
  --hero-h-1: 400 56px/80px "Montserrat", sans-serif;
  --sub-page-h-1: 400 48px/72px "Montserrat", sans-serif;
  --body-h-4: 700 24px/36px "Montserrat", sans-serif;
  --body-p: 400 18px/30px "Montserrat", sans-serif;
  --body-p-small: 400 14px/22px "Montserrat", sans-serif;
  --body-text-cta-btn: 700 18px/30px "Montserrat", sans-serif;
  --body-p-large: 400 36px/50px "Montserrat", sans-serif;

  /* Effects */
}

